
/* ----- GLOBAL ----- */
@import "./Base/font";
@import "./Utils/variables";
@import "./Base/global";
@import "./Utils/mixin";
/* ++++ GLOBAL +++ */


/* ----- HEDEAR ----- */
@import "./Layout/acheader";
/* ++++ HEDEAR +++ */


/* ----- FOOTER ----- */
@import "./Layout/footer";
/* ++++ FOOTER +++ */

/* OTHER */
@import "./Composants/spinner";
@import "./Composants/btn_heart";

/* ++++ OTHER */


/* ----- PAGE accueil ----- */
@import "./Pages/accueil";
@import "./Pages/la_palette_du_gout";
/* ++++ PAGE accueil +++ */


/* ALLERTE */




.fullhead2{
    &_bandeau{
        display: flex;
        align-items: center;
        padding-bottom: 2%;
        &-arrow{
            padding-left: 8%;
            a{
                color: lighten(black,20);
            }
            i{
                transform: scale(1.2);
            }
        }
        &-img{
            padding-left: 10%;
        }
    }
    &_bloc{
        position: relative;
        &_backimg{
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            width: 100%;
            height: 220px;
            background-size: cover;
            overflow-x: hidden;
        }
        &_tiltle{
            padding-top: 2%;
            width: 100%;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            background-color: rgb(246, 246, 246);
            position: absolute;
            bottom: -8%;
            margin-bottom: -1%;
            font-family: Shrikhand;
            h1{
                margin-left: 4%;
                font-size: 1.5em;
            }
        }
    }
}

.fullfullmain2{
    padding-top: 3%;
    background-color: rgb(246, 246, 246);
}

.fullmain2{
    margin-left: 4%;
    margin-right: 4%;
    &_section{
        padding-bottom: 5%;
        &-tiltle{
            font-size: 0.8em;
            font-weight: 100;
            color: darken($cd-grey,50);
        }
        .underligne{
            margin-top: -3%;
            margin-bottom: -3%;
            border-top: 3px solid $cd-tertiary;
            width: 4em;
        }
        &_allcards{
            display: flex;
            flex-direction: column;
            &_eachcards{
                box-shadow: 1px 1px 10px 0px rgba($color: darken($cd-grey,20), $alpha: 1);
                display: flex;
                margin-top: 5%;
                border-radius: 15px;
                background-color: white;
                &_left{
                    margin: 3%;
                    margin-top: 0%;
                    margin-bottom: 0%;
                    width: 100%;
                    padding-right: 5%;
                    display: flex;
                    justify-content: space-between;
                    &-plat{
                        width: 10em;
                        padding-right: 25%;
                        display: flex;
                        flex-direction: column;
                        h3{
                            white-space: nowrap;
                            padding-right: 10em;
                            font-size: 1em;
                            margin-bottom: 0%;
                            margin-top: 2%;
                            font-weight: bold;
                            width: 100%;
                            padding-top: 3%;
                        }
                        p{
                            white-space: nowrap;
                           padding-right: 13.4em;
                            margin-top: 3%;
                            font-size: 0.9em;
                            margin-bottom: 1%;
                        }
                    }
                    &-prix{
                        font-weight: bold;
                        display: flex;
                        margin-top: 3.5%;
                        margin-bottom: -2%;
                        margin-right: -4%;
                    }
                }
                .anim_order{
                    display: none;
                }
                .fullmain2_section_allcards_eachcards_right-anim{
                    border-top-right-radius: 15%;
                    border-bottom-right-radius: 15%;
                }
                &:hover > .fullmain2_section_allcards_eachcards_right{
                    width: 100px;
                    position: relative;

                    .fullmain2_section_allcards_eachcards_right-anim{
                        background-color: $cd-tertiary;
                        height: 102%;
                        margin-top: -1%;
                        animation: comehere 800ms forwards;
                    }
                    .anim_order{
                        position: absolute;
                        display: inline;
                        top: 35%;
                        left: 80%;
                        animation: move 800ms forwards;
                        i{
                            animation: turn 800ms forwards;
                            color: white;
                        }
                    }
                }
                &:hover > .fullmain2_section_allcards_eachcards_left{
                    .fullmain2_section_allcards_eachcards_left-plat{
                        width: 12em;
                            h3{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            p{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 100%;
                            }
                    }
                    .fullmain2_section_allcards_eachcards_left-prix{
                        animation: move2 800ms forwards alternate;
                    }
                    
                }
            }
        }
    }
    &_commander{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 1em;
        border-radius: 25px;
        margin-left: 18%;
        margin-right: 18%;
        padding-bottom: 12%;
        padding-top: 5%;
        a{
            background: linear-gradient(160deg, $cd-secondary, $cd-primary);
            color: white;
            padding: 5% 15% 5% 15%;
            border-radius: 25px;
            box-shadow: 1px 1px 15px 0px rgba($color: darken($cd-grey,40), $alpha: 1);
            &:hover{
                @include btn;
            }
        }
    }
}