@media all and (max-width: map-get($breakpoints, mobile)){
    footer{
        background-color: rgb(53, 53, 53);
        color: white;
        padding-bottom: 8%;
    }
    .fullfooter{
        margin-left: 8%;
        display: flex;
        flex-direction: column;
        a{
            color: white;
        }
        h2{
            color: white;
            font-family: "Shrikhand";
        }
        &_liste{
            &-first{
                margin-left: 0.3em;
                display: flex;
                align-items: center;
                i{
                    padding-right: 1em;
                }
            }
            &-second{
                margin-top: -1em;
                display: flex;
                align-items: center;
                i{
                    transform: scaleX(0.7);
                    padding-right: 1em;
                }
            }
            &-third{
                margin-top: -1.2em;
                margin-left: 0.3em;
                p{
                    margin-bottom: 2%;
                }
            }
            &-fourth{
                margin-left: 0.3em;

            }
        }
    }
}
@media all and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, mid)){
    footer{
        background-color: rgb(53, 53, 53);
        color: white;
        padding-bottom: 8%;
    }
    .fullfooter{
        display: flex;
        flex-direction: column;
        a{
            color: white;
        }
        h2{
            color: white;
            font-family: "Shrikhand";
            text-align: center;
            font-size: 2em;
        }
        &_liste{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            &-first{
                margin-left: 0.3em;
                display: flex;
                align-items: center;
                i{
                    padding-right: 1em;
                }
            }
            &-second{
                display: flex;
                align-items: center;
                i{
                    transform: scaleX(0.7);
                    padding-right: 1em;
                }
            }
            &-third{
                display: flex;
                align-items: center;
                margin-left: 0.3em;
                p{
                }
            }
            &-fourth{
                margin-left: 0.3em;

            }
        }
    }
}

@media all and (min-width: map-get($breakpoints, mid)){
    footer{
        background-color: rgb(53, 53, 53);
        color: white;
        padding-bottom: 2%;
    }
    .fullfooter{
        display: flex;
        flex-direction: column;
        a{
            color: white;
        }
        h2{
            color: white;
            font-family: "Shrikhand";
            text-align: center;
            font-size: 2em;
        }
        &_liste{
            padding-bottom: 1%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            &-first{
                margin-left: 0.3em;
                display: flex;
                align-items: center;
                i{
                    padding-right: 1em;
                }
            }
            &-second{
                display: flex;
                align-items: center;
                i{
                    transform: scaleX(0.7);
                    padding-right: 1em;
                }
            }
            &-third{
                display: flex;
                align-items: center;
                margin-left: 0.3em;
                p{
                }
            }
            &-fourth{
                margin-left: 0.3em;

            }
        }
    }
}