
body{
    text-align: center;

}

h1{
    font-size: 6em;

}

.airDeJeu{
    overflow: hidden;
    position: relative;
    height: 600px;
    margin: 1em;
    border-radius: 1em;
    background-color: palegoldenrod;
    margin-bottom: 5em;
}

.circle{
    transition: 1000ms;
    background-color: red ;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.rond{
    transition: 1000ms;
    border: 5px solid green;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
