    .spinner{
      z-index: 5;
      animation: disappear 5ms;
      animation-delay: 3300ms;
      animation-fill-mode: forwards;
      position: fixed;
      pointer-events: none;
  }

  .lds-dual-ring {
    position: absolute;
    transition: 0ms;
    display: inline-block;
    top: 40%;
    left: 48%;
  }
  .lds-dual-ring:after {
    z-index: 9999;
    content: " ";
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 6px solid $cd-primary;
    border-color: $cd-primary transparent $cd-tertiary transparent;
    animation: lds-dual-ring 1s ease-in-out ;
    animation-iteration-count: 3;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
  }
  
  @media all and (max-width: map-get($breakpoints, mobile)){
    .spinner{
      top: 40%;
      left: 42%;
    }
  }

  @media all and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, mid)){
    .spinner{
      top: 30%;
      left: 45%;
    }

    .lds-dual-ring:after {
      width: 80px;
      height: 80px;
    }
  }

  @media all and (min-width: map-get($breakpoints, mid)){
    .spinner{
      top: 40%;
      left: 45%;
    }
    .lds-dual-ring:after {
      width: 150px;
      height: 150px;
    }
  }