    .spinner{
      z-index: -1;
      animation: disappear 5ms;
      animation-delay: 3300ms;
      animation-fill-mode: forwards;
  }
  
  .lds-dual-ring {
      position: absolute;
      transition: 0ms;
      display: inline-block;
      width: 80px;
      height: 80px;
      top: 25%;
      left: 43%;
    }
    .lds-dual-ring:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 6px solid $cd-primary;
      border-color: $cd-primary transparent $cd-tertiary transparent;
      animation: lds-dual-ring 1s ease-in-out ;
      animation-iteration-count: 3;
      animation-delay: 300ms;
      animation-fill-mode: backwards;
    }
