html, body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

#bloc_page{
    margin: auto;
    width: auto;
    @media all and (max-width: map-get($breakpoints, mobile)){
        max-width: map-get($breakpoints, mobile);
    }
    @media all and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, mid)){
        max-width: map-get($breakpoints, mid);
    }
    @media all and (min-width: map-get($breakpoints, mid)){
        max-width: map-get($breakpoints, huge) + 500;
    }
}

.primary{
    color: $cd-primary
}

.secondary{
    color: $cd-secondary;
}

.tertiary{
    color: $cd-tertiary;
}

.darkgrey{
    color: darken($cd-grey,45);
}