@mixin btn {
    background: linear-gradient(160deg, lighten($cd-secondary,2), lighten($cd-primary,2));
    box-shadow: 2px 2px 16px 0px rgba($color: darken($cd-grey,40), $alpha: 1);
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg) scale(5);
    }
    100% {
      transform: rotate(360deg) scale(5);
    }
  }

  @keyframes appear{
    0%{
      opacity: 0;
      transform: scale(0);
    }
    75%{
      opacity: 1;
      transform: scale(1.5);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes disappear{
    0%{
      opacity: 0;
      z-index: 2;
    }
    100%{
      opacity: 0;
      z-index: 2;
    }
  }

@keyframes move{
  0%{
    transform: translateX(0%)
  } 
  100%{
    transform: translateX(-180%);
  }
}

@keyframes comehere{
  0%{
    transform: scaleX(0);
    transform-origin: right;
  }
  to{
    transform: scaleX(1);
    transform-origin: right;
  }
}

@keyframes reversecomehere{
  0%{
    transform: scaleX(1);
    transform-origin: right;
  }
  to{
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes turn{
  0%{
    transform: rotate(0deg) scale(1.6)
  }
  80%{
    transform: rotate(400deg) scale(1.6)
  }
  100%{
    transform: rotate(360deg) scale(1.6)
  }
}

@keyframes move2{
  0%{
    transform: translateX(120%)
  } 
  100%{
    transform: translateX(-120%);
  }
}

@keyframes appearsection{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(-5%);
  }

}