@mixin btn {
    background: linear-gradient(160deg, lighten($cd-secondary,2), lighten($cd-primary,2));
    box-shadow: 2px 2px 16px 0px rgba($color: darken($cd-grey,40), $alpha: 1);
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg) scale(5);
    }
    100% {
      transform: rotate(360deg) scale(5);
    }
  }

  @keyframes appear{
    0%{
      opacity: 0;
      transform: scale(0);
    }
    75%{
      opacity: 1;
      transform: scale(1.5);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes disappear{
    from{
      opacity: 0;
      z-index: 2;
    }
    to{
      opacity: 0;
      z-index: 2;
    }
  }


@keyframes turn{
  0%{
    transform: rotate(0deg) scale(2)
  }
  80%{
    transform: rotate(400deg) scale(2)
  }
  100%{
    transform: rotate(360deg) scale(2)
  }
}

@keyframes move2{
  from{
    transform: translateX(0%)
  } 
  to{
    transform: translateX(-10%);
  }
}

@keyframes appearsection{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: translateY(-5%);
  }

}